
{{set {alpha,x,y,width,height,fillColor,cap,rotate,
    color,linewidth,dash,textX,textY,textWidth,textHeight,padding,
    textFontsize,textForecolor,textBackground,textLetterspacing,
    textFontfamily,text}=props;}}
<svg class="overflow-visible pa z-index-1" style="opacity:{{=alpha}};left:{{=x}}{{=unit}};top:{{=y}}{{=unit}};width:{{=width}}{{=unit}};height:{{=height}}{{=unit}};transform:rotate({{=rotate}}deg){{if fillColor}};background:{{=fillColor}}{{/if}}">
    {{set pxOfHeight=toPx(height)}}
    <path d="M20 0L0 0L0 {{=pxOfHeight}}L20 {{=pxOfHeight}}" style="fill:none;stroke:{{=color}};stroke-width:{{=linewidth}}{{=unit}}" stroke-dasharray="{{=dash}}{{=unit}}" stroke-linecap="{{cap}}?round"/>
    <foreignObject x="{{=textX-x+ox}}{{=unit}}" y="{{=textY-y+oy}}{{=unit}}" width="{{=textWidth}}{{=unit}}" height="{{=textHeight}}{{=unit}}">
        <div class="flex hp100 align-items-center justify-content-center word-break-break-all" style="padding:{{=padding}}{{=unit}};font-size:{{=textFontsize}}{{=unit}};width:{{=textWidth}}{{=unit}};color:{{=textForecolor}};{{if textBackground}}background:{{=textBackground}};{{/if}}letter-spacing:{{=textLetterspacing}}{{=unit}};font-family:{{=textFontfamily}}" x-html="{{=enHTML(text)}}"></div>
    </foreignObject>
</svg>