<div class="pa z-index-1{{if enter}} hod-drop-tip{{/if}}" style="left:{{=props.x}}{{=unit}};top:{{=props.y}}{{=unit}};opacity:{{=props.alpha}};width:{{=props.width}}{{=unit}};height:{{=props.height}}{{=unit}};{{=am(props.animations)}}" mx-dragenter="@:{when.data.field.enter}()" mx-dragleave="@:{when.data.field.leave}()" mx-drop="@:{when.data.field.drop}()">
    <div class="flex pointer-events-none overflow-hidden">
        {{if text}}
            {{=text}}
        {{else}}
            <span style="font-size:{{=props.tfs}}{{=unit}};">{{=i18n('@:{lang#elements.data.bind.tip}')}}</span>
        {{/if}}
    </div>
</div>