<div class="pa z-index-1" style="left:{{=props.x}}{{=unit}};top:{{=props.y}}{{=unit}};opacity:{{=props.alpha}};width:{{=props.width}}{{=unit}};height:{{=props.height}}{{=unit}};{{=am(props.animations)}}">
    {{set {borderwidth,bordertype,bordercolor,borderdeed,rows,readonly}=props}}
    {{set bwn=(borderdeed=='collapse'?1:2)*borderwidth}}
    <table class="wp100 table" style="border-collapse:{{=borderdeed}}">
        <tbody>
        {{each rows as row ri}}
        <tr>
            {{each row.cols as col ci}}
            <td class="table-cell padding-0 word-break-break-all touch-action-none pr{{if selectRect&&srRow==ri&&srCol==ci}} overflow-hidden{{/if}}" colspan="{{=col.colspan}}??" rowspan="{{=col.rowspan}}??" style="width:{{=col.width}}{{=unit}};height:{{=col.height}}{{=unit}};border-left:{{=borderwidth?bordertype:'dotted'}} {{=borderwidth}}{{=unit}} {{=borderwidth&&col.bLeft?bordercolor:cv}};border-top:{{=borderwidth?bordertype:'dotted'}} {{=borderwidth}}{{=unit}} {{=borderwidth&&col.bTop?bordercolor:cv}};border-right:{{=borderwidth?bordertype:'dotted'}} {{=borderwidth}}{{=unit}} {{=borderwidth&&col.bRight?bordercolor:cv}};border-bottom:{{=borderwidth?bordertype:'dotted'}} {{=borderwidth}}{{=unit}} {{=borderwidth&&col.bBottom?bordercolor:cv}}" mx-pointerdown="@:{active.cell}({row:{{=ri}},col:{{=ci}},elm:1})" id="_rd_h_{{=element.id}}_{{=ri}}_{{=ci}}" mx-contextmenu="@:{show.contxtmenu}({row:{{=ri}},col:{{=ci}}})">
                <div class="wp100 hp100 pr overflow-hidden" data-as="hod" id="_rd_hm_{{=element.id}}_{{=ri}}_{{=ci}}">
                    {{each col.elements as e}}
                        <mx-vframe class="touch-action-none display-contents" id="{{=e.id}}" src="../{{=e.type}}/designer" *element="{{#e}}" *owner-id="_rd_h_{{=element.id}}_{{=ri}}_{{=ci}}" *mask-id="_rd_hm_{{=element.id}}_{{=ri}}_{{=ci}}" *unit="{{#unit}}" mx-pointerdown="@:{element.start.drag}({element:{{#e}},maskId:'_rd_hm_{{=element.id}}_{{=ri}}_{{=ci}}'})"/>
                    {{/each}}
                </div>
                {{if !props.locked}}
                {{set focusCurrentCell=props.focusRow==ri&&props.focusCol==ci&&selected&&count==1}}
                <div class="pa hod-focus-div z-index-1 pointer-events-none{{if focusCurrentCell}} hod-focus-line{{/if}}" style="{{if focusCurrentCell}}{{if !col.bLeft}}border-left-style:dotted;{{/if}}{{if !col.bTop}}border-top-style:dotted;{{/if}}{{if !col.bRight}}border-right-style:dotted;{{/if}}{{if !col.bBottom}}border-bottom-style:dotted;{{/if}}{{/if}}" id="_rd_dm_{{=element.id}}_{{=ri}}_{{=ci}}">
                    {{if focusCurrentCell&&!grouped}}
                    {{set pxHeight=toPx(col.height-bwn)-1,
                        pxWidth=toPx(col.width-bwn)-1}}
                    {{set height=(mmin(22,pxHeight-2))}}
                    {{set width=(mmin(22,pxWidth-2))}}
                    {{set top=(pxHeight-height)/2}}
                    {{set left=(pxWidth-width-bwn)/2}}
                    <div class="pa hod-right border-radius-x pointer-events-all touch-action-none cursor-ew-resize" style="height:{{=mmax(height,0)}}px;top:{{=top}}px" title="{{=i18n('@:{lang#press.drag.cell.width}')}}" mx-pointerdown="@:{start.resize.table.cell}({key:'mr'})"></div>
                    <div class="pa hod-left border-radius-x pointer-events-all touch-action-none cursor-ew-resize" style="height:{{=mmax(height,0)}}px;top:{{=top}}px" title="{{=i18n('@:{lang#press.drag.cell.width}')}}" mx-pointerdown="@:{start.resize.table.cell}({key:'ml'})"></div>
                    <div class="pa hod-bottom border-radius-x pointer-events-all touch-action-none cursor-ns-resize" style="width:{{=mmax(width,0)}}px;left:{{=left}}px" title="{{=i18n('@:{lang#press.drag.cell.height}')}}" mx-pointerdown="@:{start.resize.table.cell}({key:'bm'})"></div>
                    <div class="pa hod-top border-radius-x pointer-events-all touch-action-none cursor-ns-resize" style="width:{{=mmax(width,0)}}px;left:{{=left}}px" title="{{=i18n('@:{lang#press.drag.cell.height}')}}" mx-pointerdown="@:{start.resize.table.cell}({key:'tm'})"></div>
                    {{/if}}
                </div>
                {{/if}}
                {{if !readonly && col.elements?.length}}
                    <i class="pa z-index-1 left-0 top-0 border-radius-x padding-2 color-third color-third-hover iconfont fontsize-12 fontsize-scale-10 cursor-pointer background-color-brand-a10" title="{{=i18n('@:{lang#cell.select}')}}">&#xe647;</i>
                {{/if}}
                {{if selectRect && srRow==ri && srCol==ci}}
                    <div class="select-rect none z-index-2 pointer-events-none pa" style="display:block;left:{{=selectRect.x}}px;top:{{=selectRect.y}}px;width:{{=selectRect.width}}px;height:{{=selectRect.height}}px"></div>
                {{/if}}
            </td>
            {{/each}}
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>