{{set {bordertype,color}=props;}}
<div class="pa z-index-1 flex align-items-center justify-content-center" style="left:{{=props.x}}{{=unit}};top:{{=props.y}}{{=unit}};opacity:{{=props.alpha}};width:{{=props.width}}{{=unit}};height:{{=props.height}}{{=unit}};transform:rotate({{=props.rotate}}deg);{{if props.startBorder}}border-left:1px {{=bordertype}} {{=color}};{{/if}}{{if props.endBorder}}border-right:1px {{=bordertype}} {{=color}};{{/if}}{{=am(props.animations)}}">
    <span style="flex-grow:1;border-top:1px {{=bordertype}} {{=color}}"></span>
    <span style="padding:0 4px;transform:rotate({{=props.textRotate}}deg);color:{{=color}}">{{=props.text}}</span>
    <span style="flex-grow:1;border-top:1px {{=bordertype}} {{=color}}"></span>
</div>