<div class="pa z-index-1 flex{{if props.overflow=='hidden'}} overflow-hidden{{else if props.overflow=='visible'}} overflow-visible{{else}} scrollable thin-scrollable overflow-auto scroll-behavior-smooth{{/if}}{{if props.rank=='column'}} flex-direction-column{{/if}}" style="left:{{=props.x}}{{=unit}};top:{{=props.y}}{{=unit}};height:{{=props.height}}{{=unit}};opacity:{{=props.alpha}};width:{{=props.width}}{{=unit}};transform:rotate({{=props.rotate}}deg);{{=am(props.animations)}}">
    {{each props.items as item ii last first}}
    <label class="flex align-items-center flex-shrink-0" style="{{if !first}}margin-{{if props.rank=='row'}}left{{else}}top{{/if}}:{{=props.itemSpace}}{{=unit}}{{/if}}">
        <input name="{{=props.inputName}}" class="margin-0" type="radio" checked="{{=item.checked}}?" disabled="{{=item.disabled}}?" value="{{=item.value}}"/>
        <span style="color:{{=props.forecolor}};font-size:{{=props.fontsize}}{{=unit}};letter-spacing:{{=props.letterspacing}}{{=unit}};font-family:{{=props.fontfamily}};margin-left:{{=props.textSpace}}{{=unit}}">{{=item.text??''}}</span>
    </label>
    {{/each}}
</div>