{{each items as d i last first}}
    <div class="flex align-items-flex-start margin-bottom-4">
        <span class="width-90 pr10 mr2 flex align-items-center justify-content-flex-end">
            {{set canUp=!disabled&&!first}}
            {{set canDown=!disabled&&!last}}
            <div class="flex flex-direction-column mr2">
                <span class="iconfont r180 fontsize-12 color-third{{if canUp}} color-third-hover cursor-pointer{{else}} cursor-not-allowed opacity-40{{/if}}" mx-click="{{=canUp}}?@:{move.at}({at:{{=i}},d:-1})" title="{{if !canUp}}不能{{/if}}向上交换标签">&#xe73a;</span>
                <span class="iconfont fontsize-12 color-third{{if canDown}} color-third-hover cursor-pointer{{else}} cursor-not-allowed opacity-40{{/if}}" mx-click="{{=canDown}}?@:{move.at}({at:{{=i}},d:1})" title="{{if !canDown}}不能{{/if}}向下交换标签">&#xe73a;</span>
            </div>
            <span class="iconfont mr2 fontsize-12 color-third{{if disabled}} cursor-not-allowed opacity-40{{else}} color-third-hover cursor-pointer{{/if}}" mx-click="{{=!disabled}}?@:{remove.item}({i:{{=i}}})" title="删除选项">&#xe6b3;</span>
            选项
        </span>
        <input class="margin-0 input width-150" disabled="{{=disabled}}?" mx-change="@:{stop}()" mx-input="@:{update.item}({i:{{=i}},key:'text'})" value="{{=d.text}}"/>
    </div>
    <div class="flex align-items-center margin-bottom-4">
        <span class="width-90 mr2 tr pr10">值</span>
        <input class="margin-0 input width-150" disabled="{{=disabled}}?" mx-change="@:{stop}()" mx-input="@:{update.item}({i:{{=i}},key:'value'})" value="{{=d.value}}"/>
    </div>
    <div class="flex align-items-center margin-bottom-4">
        <span class="width-90 mr2 tr pr10">选中</span>
        <label class="display-inline-block font-weight-normal mwp100 cursor-pointer flex align-items-center">
            <input class="switch-input pa" type="checkbox" checked="{{=d.checked}}?" disabled="{{=disabled}}?" mx-change="@:{update.state}({i:{{=i}},key:'checked'})"/>
            <i class="switch-button display-inline-block transition unselectable pr"></i>
        </label>
    </div>
    <div class="flex align-items-center margin-bottom-4">
        <span class="width-90 mr2 tr pr10">禁用</span>
        <label class="display-inline-block font-weight-normal mwp100 cursor-pointer flex align-items-center">
            <input class="switch-input pa" type="checkbox" checked="{{=d.disabled}}?" disabled="{{=disabled}}?" mx-change="@:{update.state}({i:{{=i}},key:'disabled'})"/>
            <i class="switch-button display-inline-block transition unselectable pr"></i>
        </label>
    </div>
    {{if !last}}
    <div class="item-spliter"></div>
    {{/if}}
{{/each}}
<div class="flex align-items-center width-242 justify-content-flex-end">
    <button class="btn white-space-nowrap btn-brand cursor-pointer outline-none" disabled="{{=disabled}}?" mx-click="@:{add.item}()" title="向尾部添加选项，按下Ctrl键则添加到头部">添加选项</button>
</div>